.movieInfo {
  display: flex;
  gap: 20px;
}

.detailsBtn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4fa94d;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.detailsBtn:hover {
  background-color: #3d7e3b;
}
