.nav {
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.266);
  position: relative;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}
